extends layout

block script
  script(src='https://www.gstatic.com/firebasejs/3.6.3/firebase.js')
  script(src='/javascripts/client_upload.js')

block content
  h1= title
  p Welcome to #{title}
  input#file-input(type='file' onchange='uploadFile(this)')


