extends layout
block script
  script(type='text/javascript', src='javascripts/tinycolorpicker.min.js')
  script(src='https://www.gstatic.com/firebasejs/3.6.3/firebase.js')
  script(src='/javascripts/client_upload.js')

block content
  h1= title
  p Welcome to #{title}
  form(action='/upload', method='POST', enctype="multipart/form-data")
    label Company name
    input(type='text', name='companyName')
    br
    label Company logo
    input(type='file', name='companyLogo')
    br
    label Homescreen icon
    input(type='file', name='homescreenIcon')
    br
    label Hero text
    input(type='text', name='heroText')
    br
    label Hero image
    input(type='file', name='heroImage')
    br
    label Sub-text
    input(type='text', name='subText')
    br
    label Call-to-action text
    input(type='text', name='ctaText')
    br
    label File for color picker
    input#file-input(type='file' onchange='uploadFile(this)')
    #imageContainer
    br
    label Primary foreground color
    #colorPicker
          a.color
            .colorInner
          .track
          ul.dropdown
            li
          input.colorInput(type='hidden', name='colorFgPrimary')
    br
    label Primary background color
    input(type='text', name='colorBgPrimary', value='#fff')
    br
    label Secondary foreground color
    input(type='text', name='colorFgSecondary', value='#666')
    br
    label Secondary background color
    input(type='text', name='colorBgSecondary', value='#999')
    br
    input(type='submit', value='Submit')




  script(type='text/javascript').
    window.onload = function () {
      var $picker = document.getElementById("colorPicker")
        , picker = tinycolorpicker($picker)
        ;

    };
